/*
	Typography overrides
*/
h1 {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 900;
}
h2, h3, h4, h5, h6, p, blockquote p {
	font-family: 'Lato', sans-serif;
}
h1 a, h1 a:hover {
	color: #000000;
	text-decoration: none;
}
h4 a, h4 a:hover {
	color: #000000;
	text-decoration: none;
}
blockquote p {
	font-size: 14px;
	line-height: 1.428;
}
.mc-100 {
	font-weight: 100;
}
.mc-300 {
	font-weight: 300;
}
.mc-400 {
	font-weight: 400;
}
.mc-700 {
	font-weight: 700;
}
.mc-900 {
	font-weight: 900;
}

/*
	Layout overrides
*/
.mc-margin-top-20 {
	margin-top: 20px;
}
.mc-margin-bottom-20 {
	margin-bottom: 20px;
}
.mc-margin-bottom-30 {
	margin-bottom: 30px;
}
.mc-margin-bottom-50 {
	margin-bottom: 50px;
}

iframe, img {
	max-width: 100%;
}


/*
	Styling overrides
*/
.mc-border-top {
	border-top: 1px solid #E9E9E9;
}
.mc-bg- {
	background-color: #;
}

/*
	Additional components
*/
.chip {
	display:inline-block;height:32px;font-size:13px;font-weight:500;color:rgba(0,0,0,0.6);line-height:32px;padding:0 12px;border-radius:16px;background-color:#e4e4e4;
}
.chip img {
	float:left;margin:0 8px 0 -12px;height:32px;width:32px;border-radius:50%;
}
