/*
	FONT WEIGHTS
	
	font-family: 'Open Sans', sans-serif;
	Open+Sans:300,400,600,700,800
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&amp;subset=latin-ext" rel="stylesheet">
*/
/*
	COLOUR PALETTE

	Blue: 033649
	Pink: FE4365
	Lt grey: f5f4f4
	Dk grey: 002D31
	Yellow: D9FB19
	
*/

body {
	font-family: 'Roboto', sans-serif;
	background-color: #FFFFFF;
}

img {
	max-width: 100%;
}
.linkButton, .linkButton:hover {
	display: block;
	background-color: #FE4365;
	color: #FFFFFF;
	font-size: 1.5em;
	font-weight: 600;
	text-align: center;
	text-decoration: none;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}
header {
	padding-top: 20px;
}

header h1 {
	font-weight: 800;
	color: #002D31;
}

nav h2 {
	font-size: 1.3em;
	font-weight: 300;
	color: #002D31;
}

nav h2 a  {
	font-size: inherit;
	color: inherit;
	font-weight: 600;
	text-decoration: none;
}
nav h2 a:hover  {
	font-size: inherit;
	color: inherit;
	font-weight: 600;
	text-decoration: underline;
}
#welcome p {
	font-weight: 300;
	font-size: 1.25em !important;
}
#welcome p a {
	text-decoration: underline;
	color: #002D31;
	font-weight: 400;
}
#thanks h1, #thanks h2 {
	font-weight: 800;
	color: #002D31;
	margin-bottom: 20px;
}
#thanks p {
	font-size: 1.25em !important;
	font-weight: 300;
}
#thanks p a {
	text-decoration: underline;
	color: #002D31;
	font-weight: 400;
}
.greyBg {
	background-color: #f5f4f4;
	box-shadow: 2px 2px 15px #ccc;
}
.greyContent {
	margin-top: 15px;
}

.greyContent h2 {
	font-size: 1.5em;
	font-weight: 400;
	color: #002D31;
}

.greyContent h2 a {
	font-size: inherit;
	font-weight: 700;
	color: #002D31;
}

.greyContent p {
	font-size: 1.25em !important;
	font-weight: 300;
	padding-bottom: 10px;
	color: #002D31;
}

.greyContent p a {
	font-size: inherit;
	font-weight: 300;
	color: #002D31;
}

.greyContent p.marker {
	font-size: 1em;
	font-weight: 800;
	padding-top: 10px;
	margin-bottom: -30px;
	color: #FE4365;
}

@media (max-width: 767px) {
  .listPostsArchive {
	min-height: 100px;
	}
}
@media (min-width: 768px) {
  .listPostsArchive {
	min-height: 160px;
	}
}

.yellowBg {
	background-color: #D9FB19 !important;
	margin-top: 40px;
	padding-top: 10px;
}
.yellowBg h2 {
	font-size: 1.7em;
	font-weight: 800;
	color: #FE4365;
	margin-bottom: 30px;
	text-transform: uppercase;
}

.listPostsArchive p {
	font-size: 1em;
	font-weight: 300;
}

.listPostsArchive a {
	font-size: 1em;
	font-weight: 600;
	color: #002D31;
}
.listPostsArchive small {
	font-weight: 300;
	color: inherit;
}

#listPosts h1, .listPostsArchive h1, #singlePost h1, #singlePost h2, #singlePost h3, #singlePost h4 {
	font-weight: 700;
}

#singlePost h2 {
	font-size: 1.5em;
	padding-top: 10px;
	padding-bottom: 10px;
}

#singlePost h3 {
	font-size: 1.35em;
	padding-top: 10px;
	padding-bottom: 10px;
}

#singlePost h4 {
	font-size: 1.25em;
	padding-top: 10px;
	padding-bottom: 10px;
}


#singlePost p, #singlePost li, #singlePost blockquote {
	font-size: 1.25em !important;
	font-weight: 300;
	font-size: inherit;
	color: #002D31;
	padding-bottom: 10px;
}

#singlePost blockquote {
	font-size: 1em !important;
	font-weight: 300;
	font-size: inherit;
	color: #002D31;
	padding-bottom: 10px;
}

#singlePost blockquote {
	margin-top: 30px;
	margin-bottom: 30px;
	border-left: 10px solid #FE4365;
	-moz-box-shadow: 2px 2px 15px #ccc;
	-webkit-box-shadow: 2px 2px 15px #ccc;
	box-shadow: 2px 2px 15px #ccc;
}

#singlePost a {
	font-weight: 400;
	color: #002D31;
	text-decoration: underline;
}

#singlePost small {
	color: #C0C0C0;
}

#singlePost img, #singlePost iframe {
	width: 100%;
	margin-bottom: 20px;
}

.fullSizeImage {
	width: 100% !important;
	height: auto !important;
}

.contactOptions {
	text-decoration: none !important;
}
.icon-social-twitter {
	font-size: 40px;
	color: #1da1f3;
}
.icon-social-linkedin {
	font-size: 40px;
	color: #0077B5;
}
.icon-envelope-open {
	font-size: 40px;
	color: #033649;
}
.icon-envelope-letter {
	font-size: 40px;
	color: #033649;
}