---
layout: default
title: Mathew Cropper
---

<div class="container-fluid">
  <div class="container">
	<!-- This loops through the paginated posts -->
	{% for post in paginator.posts limit: 3 %}
		<div class="row">
		  <div class="col-md-4 mc-margin-bottom-50">
			  <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
			  <!-- <p><small>{{ post.date | date_to_string }}</small></p> -->
			  <p>
				  {{ post.content }}
			  </p>
			  <a class="btn btn-default btn-xs" href="#" role="button">more &raquo;</a>
		  </div>
		</div>
	{% endfor %}

{% for post in paginator.posts limit: 3 offset: 3 %}
		<div class="row">
		  <div class="col-md-4 mc-margin-bottom-50">
			  <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
			  <p><small>{{ post.date | date_to_string }}</small></p>
			  <p>
				  {{ post.content }}
			  </p>
			  <a class="btn btn-default btn-xs" href="#" role="button">more &raquo;</a>
		  </div>
		</div>
{% endfor %}

	</div>
</div>

{% include pagination.html %}

