---
layout: default
title: Mathew Cropper
---

<!-- Welcome -->
<section id="welcome">
	<div class="container-fluid">
		<div class="container">
			<div class="row">
				<div class="col-md-offset-3 col-md-6">
					<!-- nested section -->
					<div class="row">
						<div class="col-md-2 col-xs-3">
							<img src="/images/avatar.png" class="responsive-image img-circle" />
						</div>
						<div class="col-md-10 col-xs-9">
							<p>
								Hi. I'm Mat. The fun part of my job as a Product guy at <a href="">Zendesk</a> is that I get to think a lot about customer experience, building great products, and how we work together to do that. I share what I learn or think about that here on my blog. Welcome!
							</p>
						</div>
					</div>
					<!-- End nested section -->
					<hr>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End welcome -->

<!-- Pinned recent post -->
<section class="greyContent">
	<div class="container-fluid">
		<div class="container">
			<div class="row">
				<div class="col-md-offset-3 col-md-6 text-left greyBg">
					<p class="marker">LATEST</p>
					{% for post in site.posts limit:1 %}
					<h2><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h2>
					<p>{{ post.excerpt | remove: '<p>' | remove: '</p>' }}</p>
					<p><a href="{{ post.url }}">Read this &raquo;</a></p>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End pinned recent post -->

<!-- Pinned popular post -->
<section class="greyContent">
	<div class="container-fluid">
		<div class="container">
			<div class="row">
				<div class="col-md-offset-3 col-md-6 text-left greyBg">
					<p class="marker">POPULAR</p>
					<h2><a href="http://www.mathewcropper.co.uk/techniques/2014/12/29/analysis-foundations-for-process-improvement.html">Analysis foundations for process improvement</a></h2>
					<p>Understand why using domain modelling techniques, tracing user journeys, and building useful process maps, will help you build kick-ass To Be models.</p>
					<p><a href="{{ post.url }}">Read this &raquo;</a></p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End pinned popular post -->

<!-- List posts, by date -->
<section id="listPosts">
	<div class="container-fluid yellowBg">
		<div class="container">
			<div class="row">
				<div class="col-md-offset-3 col-md-6">
					<h2>More posts</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-offset-3 col-md-6">
					<div class="row">
						{% for post in site.posts %}
							{% assign title_length=post.title | size %}
							{% if title_length > 0 %}
						<div class="col-md-4 listPostsArchive">
							<a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
							<br><small>{{ post.date | date: '%B %Y' }} / {{ post.category }}</small>
						</div>
							{% endif %}
						{% endfor %}
					</div>

				</div>
			</div>
		</div>
	</div>
</section>
<!-- End list posts, by date -->
