<!-- Header and navigation container -->
  <div class="container-fluid mc-margin-bottom-30 mc-bg-blue">
	  <div class="container">
		  <div class="row">
			  <div class="col-md-12">
				  <h1 class="text-uppercase mc-text-white"><a href="/">Mathew Cropper</a></h1>
			  </div>
		  </div>
		  <div class="row">
			  <div class="col-md-12 text-left">
				<ul class="list-inline mc-900 mc-text-white">
					<li><a href="/">home</a></li>
					<li><a href="/about">about</a></li>
					<li><a href="/blog">archive</a></li>
				</ul>
			  </div>
		  </div>
	  </div>
  </div>