<!-- Header -->
<div class="container-fluid">
	<div class="container">
	  <div class="row">
		  <div class="col-md-12 header-hero mc-valign-bubble">
			  <p class="text-center">
				  <strong>Curated:</strong><br />{{ page.title }}
			  </p>
		  </div>
	  </div>
	</div>
</div>

<div class="container-fluid mc-bg-index mc-pad-index popular">
  <div class="container">
	  <!-- Space for sticky posts -->
	  <div class="row">
		  <div class="col-md-8 col-md-offset-2">
			  <p class="">
				  Curated posts are collections of interesting thoughts, learnings, resources, and links relating to product management and development. It’s put together by me monthly.
			  </p>
		  </div>
		</div>
	</div>
</div>

<div class="spacer40"></div>