<!-- Header and navigation -->
  <div class="container-fluid mc-max-height-50 mc-bg-grey mc-pad-top-10">
	  <div class="container">
		  <div class="row">
			  <div class="col-md-12">
				  <p class="mc-text-white mc-text-100">
						  <a href="/" class="mc-text-300">home</a> - <a href="/about" class="mc-text-300">about</a> - <a href="/blog" class="mc-text-300">archive</a>
				  </p>
			  </div>
		  </div>
	  </div>
  </div>
<!-- Hero -->
  <div class="container-fluid mc-bg-gradient mc-min-height-150">
	  <div class="container">
		  <div class="row">
			  <div class="col-md-8 col-md-offset-2 text-center">
				  <h1 class="mc-pad-top-30 mc-pad-bottom-30 mc-text-900 mc-text-white">
					  customer experience &amp; product design
				  </h1>
			  </div>
		  </div>
	  </div>
  </div>