<!-- Navigation -->
<div class="container-fluid mc-bg-nav">
	  <div class="row">
		  <div class="col-md-12 text-left" id="nav">

				<div class="btn-group">
				  <button type="button" class="btn btn-sm btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    <span class="glyphicon glyphicon-menu-hamburger"></span>
				  </button>
				  <ul class="dropdown-menu">
				    <li><a href="/">home</a></li>
				    <li><a href="/blog">blog archive</a></li>
				    <li role="separator" class="divider"></li>
				    <li><a href="/about">about</a></li>
				    <li role="separator" class="divider"></li>
				    <li><a href="https://uk.linkedin.com/in/mathewcropper"><img src="/images/social/linkedin.png" class="social"> linkedin</a></li>
				    <li><a href="https://github.com/mathewcropper"><img src="/images/social/github.png" class="social"> github</a></li>
				    <li><a href="https://twitter.com/mrtcropper"><img src="/images/social/twitter.png" class="social"> twitter</a></li>
				  </ul>
				</div>

			</div>
		  </div>
	  </div>
</div>