<!-- Pagination -->
	  <div class="container-fluid">
		  <div class="container">
			  <div class="row">
				  <div class="col-md-8 col-md-offset-2 text-center">
					    <div class="well well-sm pag-well-override">
							{% if paginator.previous_page %}
							    <a href="{{ paginator.previous_page_path }}" class="previous">Newer</a>
							  {% else %}
							    <span class="previous">Newer</span>
							  {% endif %}
							  <span class="page_number "> {{ paginator.page }} of {{ paginator.total_pages }} </span>
							  {% if paginator.next_page %}
							    <a href="{{ paginator.next_page_path }}" class="next">Older</a>
							  {% else %}
							    <span class="next ">Older</span>
							  {% endif %}
						</div>
				  </div>
			  </div>
		  </div>
	  </div>
