<!-- Pagination -->
	  <div class="container-fluid mc-margin-top-20 mc-bg-index mc-pad-index">
		  <div class="container">
			  <div class="row mc-margin-top-50">
				  <div class="col-md-8 col-md-offset-2 text-center">
					    <div class="well well-sm">
							{% if paginator.previous_page %}
							    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
							  {% else %}
							    <span class="previous">Previous</span>
							  {% endif %}
							  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
							  {% if paginator.next_page %}
							    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
							  {% else %}
							    <span class="next ">Next</span>
							  {% endif %}
						</div>
				  </div>
			  </div>
		  </div>
	  </div>
