---
layout: default
title: Blog archive
---

{% include header_archive.html %}

<div class="spacer40"></div>

<div class="container-fluid">
  <div class="container">
		<div class="row">
		  <div class="col-md-8 col-md-offset-2">
			  <p>
				  <ul class="posts list-unstyled">
					  {% for post in site.posts %}
					    <li><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a><br /><span><small>{{ post.date | date_to_string }}</small></span><br /><br /></li>
					  {% endfor %}
					</ul>
			  </p>
		  </div>
		</div>
  </div>
</div>