---
layout: default
---

<!-- Single post -->
<article id="singlePost">
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-2 col-md-8 text-left">
          <h1>{{ page.title }}</h1>
          <p><small>{{ page.date | date: '%B %Y' }} / {{ page.category }} / <a href="http://feeds.feedburner.com/mathewcropper">RSS</a></small></p>

          {{ content }}
        </div>
      </div>
    </div>
  </div>
</article>
<!-- End single post -->

{% include comments.html %}
