---
layout: default
---

<!-- Single post -->
<article id="singlePost">
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-2 col-md-8 text-left">
          <h1>{{ page.title }}</h1>
          <p><small>{{ page.date | date: '%B %Y' }} / {{ page.category }} / <a id="hide">Subscribe</a></small></p>

          <!-- nested section -->
          <div class="row subscribe startHidden">
            <div class="col-md-12">
              <!-- Begin MailChimp Signup Form -->
              <section class="mailSignup">
                <div class="col-md-12 text-left mailSignupBg">
                  <div id="mc_embed_signup">
                    <form action="//mathewcropper.us14.list-manage.com/subscribe/post?u=b4d005f2b685de7e3a9eda7d6&amp;id=488a8d7f64" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                      <div id="mc_embed_signup_scroll">
                        <label for="mce-EMAIL">I'll write to you once a month to share posts from this blog, as well as great product and customer experience reads from around the web</label>
                        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_b4d005f2b685de7e3a9eda7d6_488a8d7f64" tabindex="-1" value=""></div>
                        <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                      </div>
                    </form>
                  </div>
                </div>
              </section>
            </div>
          </div>
          <!-- End nested section -->

          {{ content }}
        </div>
      </div>
    </div>
  </div>
</article>
<!-- End single post -->

{% include comments.html %}
